<span class="glyphicon glyphicon-spin glyphicon-refresh spinner" *ngIf="loading"></span>
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a [routerLink]="['/welcome']">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/products']">Product List</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loggedIn">
          <a>Welcome {{ userData.userName }}</a>
        </li>
        <li>
          <a>Show Messages</a>
        </li>
        <li *ngIf="!loggedIn">
          <a [routerLink]="['/login']">Log In</a>
        </li>
        <li *ngIf="loggedIn">
          <a (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
